<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="https-large" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Account.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAccount" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Address.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAddress" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Alert.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAlert" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Attribute.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAttribute" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAuthentication" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Authorisation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAuthorisation" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Bill.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IBill" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/BusinessUnit.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IBusinessUnit" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Charges.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICharges" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Chart.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IChart" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Collection.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICollection" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Configuration.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IConfiguration" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Contact.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContact" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/ContactPhone.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContactPhone" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Contract.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContract" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Correspondence.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICorrespondence" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/CostCentre.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICostCentre" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/CreditCheck.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICreditCheck" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Customisation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICustomisation" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Dealer.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDealer" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Device.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDevice" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Document.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDocument" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Email.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IEmail" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Error.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IError" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Event.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IEvent" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/FeedBack.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IFeedBack" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Financial.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IFinancial" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/GeneralLedger.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IGeneralLedger" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Hardware.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IHardware" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Inventory.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IInventory" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Invoice.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IInvoice" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Leads.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ILeads" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Library.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ILibrary" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Maps.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IMaps" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Menu.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IMenu" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Network.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.INetwork" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/News.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.INews" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Opportunities.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOpportunities" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Order.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOrder" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/OrderEntry.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOrderEntry" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Package.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPackages" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Payment.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPayment" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Product.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IProducts" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Promotion.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPromotion" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Recharge.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IRecharge" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Reports.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IReports" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Roles.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IRoles" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Service.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IService" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Session.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ISession" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Sim.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ISim" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Status.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IStatus" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Task.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITask" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Team.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITeam" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Template.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITemplate" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Thread.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IThreads" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/UISupport.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IUISupport" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Usage.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IUsage" name="net4ua" />
      <endpoint address="https://qa.selcomm.com/SelcommWS/Openet/Validation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IValidation" name="net4ua" />


      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Account.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAccount" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Address.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAddress" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Alert.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAlert" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Attribute.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAttribute" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAuthentication" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Authorisation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAuthorisation" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Bill.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IBill" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/BusinessUnit.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IBusinessUnit" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Charges.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICharges" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Chart.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IChart" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Collection.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICollection" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Configuration.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IConfiguration" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Contact.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContact" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/ContactPhone.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContactPhone" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Contract.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContract" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Correspondence.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICorrespondence" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/CostCentre.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICostCentre" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/CreditCheck.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICreditCheck" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Customisation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICustomisation" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Dealer.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDealer" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Device.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDevice" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Document.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDocument" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Email.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IEmail" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Error.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IError" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Event.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IEvent" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/FeedBack.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IFeedBack" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Financial.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IFinancial" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/GeneralLedger.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IGeneralLedger" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Hardware.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IHardware" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Inventory.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IInventory" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Invoice.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IInvoice" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Leads.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ILeads" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Library.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ILibrary" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Maps.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IMaps" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Menu.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IMenu" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Network.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.INetwork" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/News.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.INews" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Opportunities.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOpportunities" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Order.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOrder" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/OrderEntry.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOrderEntry" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Package.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPackages" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Payment.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPayment" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Product.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IProducts" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Promotion.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPromotion" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Recharge.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IRecharge" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Reports.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IReports" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Roles.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IRoles" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Service.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IService" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Session.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ISession" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Sim.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ISim" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Status.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IStatus" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Task.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITask" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Team.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITeam" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Template.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITemplate" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Thread.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IThreads" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/UISupport.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IUISupport" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Usage.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IUsage" name="net4prod"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Validation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IValidation" name="net4prod"/>



      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Account.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAccount" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Address.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAddress" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Alert.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAlert" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Attribute.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAttribute" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Authentication.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAuthentication" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Authorisation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IAuthorisation" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Bill.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IBill" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/BusinessUnit.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IBusinessUnit" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Charges.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICharges" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Chart.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IChart" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Collection.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICollection" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Configuration.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IConfiguration" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Contact.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContact" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/ContactPhone.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContactPhone" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Contract.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IContract" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Correspondence.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICorrespondence" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/CostCentre.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICostCentre" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/CreditCheck.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICreditCheck" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Customisation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ICustomisation" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Dealer.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDealer" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Device.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDevice" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Document.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IDocument" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Email.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IEmail" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Error.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IError" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Event.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IEvent" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/FeedBack.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IFeedBack" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Financial.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IFinancial" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/GeneralLedger.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IGeneralLedger" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Hardware.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IHardware" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Inventory.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IInventory" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Invoice.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IInvoice" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Leads.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ILeads" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Library.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ILibrary" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Maps.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IMaps" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Menu.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IMenu" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Network.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.INetwork" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/News.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.INews" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Opportunities.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOpportunities" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Order.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOrder" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/OrderEntry.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IOrderEntry" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Package.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPackages" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Payment.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPayment" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Product.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IProducts" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Promotion.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IPromotion" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Recharge.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IRecharge" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Reports.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IReports" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Roles.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IRoles" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Service.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IService" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Session.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ISession" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Sim.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ISim" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Status.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IStatus" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Task.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITask" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Team.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITeam" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Template.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.ITemplate" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Thread.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IThreads" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/UISupport.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IUISupport" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Usage.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IUsage" name="net4dc"/>
      <endpoint address="https://www.selcomm.com/SelcommWS/1.0266/Validation.svc" binding="basicHttpBinding" bindingConfiguration="https-large" contract="SelcommWSAll.IValidation" name="net4dc"/>


    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>