<policies xmlns="http://schemas.microsoft.com/wse/2005/06/policy">
  <extensions>
    <extension name="ssoTokenAssertion"
     type="SelcommWebServices.SelcommOSS.Singtel.SMSC.Helpers.SsoTokenAssertion, SelcommOSSSingtel"/>
  </extensions>
  <policy name="SsoPolicy">
    <ssoTokenAssertion />
    <requireActionHeader />
  </policy>
</policies>
